.cachewarmer-li {
	list-style: disc;
	margin-left: 15px;
}
#cachewarmer-modal .body {
	padding-bottom: 62px;
}
#cachewarmer-modal .progressBar{
	width: 100%;
}
#cachewarmer-modal .progressbar{
	position: static;
	width: 100%;
}
#cachewarmer-modal .progressNumbers {
	font-size: 16px;
	margin-top: 10px;
}

#cachewarmer-modal .footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#cachewarmer-modal .results-container {
	max-height: 200px;
	overflow-y: auto;
}