{% import "_includes/forms" as forms %}

{% set errors = settings.getErrors() %}

<div class="field sites">
    <div class="heading">
        <label>{{ 'Sites to warm up'|t('cachewarmer') }}</label>
    </div>
    {% for uid, name in sites %}
        {{ forms.checkbox({
            label: name,
            name: 'sites[]',
            value: uid,
            checked: (uid in settings.sites)
        }) }}
    {% endfor %}
</div>

{% for uid, name in sites %}
    {{ forms.textField({
        class: 'sitemap-'~uid,
        label: 'Sitemap url for {site}'|t('cachewarmer', {site: name}),
        name: 'sitemaps[' ~ uid ~ ']',
        value: settings.getSitemap(uid)
        }) 
    }}
{% endfor %}

{{ forms.textareaField({
    label: 'Urls to ignore'|t('cachewarmer'),
    name: 'ignore',
    value: settings.ignore,
    errors: settings.getErrors('ignore'),
    instructions: 'Enter urls or valid regex. One url per line.'|t('cachewarmer')
    }) 
}}

{% js %}
    function checkSitemapField(field) {
        let sitemap = $('.sitemap-' + $(field).val()).parent().parent();
        if ($(field).is(':checked')) {
            sitemap.show();
        } else {
            sitemap.hide();
        }
    }
    $.each($('.field.sites input'), function(){
        checkSitemapField(this);
    });
    $('.field.sites input').click(function(){
        checkSitemapField(this);
    });
{% endjs %}